
//script
script(src='/js/angular.min.js')
script(src='/js/controllers/mainController.js')
script(src='/js/jquery.min.js')
script(src='/js/skel.min.js')
script(src='/js/util.js')
//if lte IE 8
	script(src='js/ie/respond.min.js')
script(src='/js/main.js')
script(src='/js/services/authenticate.service.js')
script(src='/js/controllers/homeController.js')
script(src='/js/controllers/loginController.js')
script(src='/js/app.js')
