extends index

block home
	header#header

		a(href='/', class='logo')
			strong Editorial
			| by HTML5 UP
		
		ul.icons
			li: a(href='#', class='icon fa-twitter'): span.label Twitter
			li: a(href='#', class='icon fa-facebook'): span.label Facebook
			li: a(href='#', class='icon fa-snapchat'): span.label Snapchat
			li: a(href='#', class='icon fa-instagram'): span.label Instagram
			li: a(href='#', class='icon fa-medium'): span.label Medium	
	section#banner
		div.content
			header
				h1 Olá, mundo!
					br 
					| HTML UP
				p A free and fully responsive site template

			p algum texto legal

			ul.actions
				li
					a(href='#', class='button big') Learn More

		span.image.object
			img(src='/img/pic10.jpg' alt='')
	section
		header.major
			h2 Erat lacinia
		div.features
			article
				span.icon.fa-diamond
				div.content
					h3 Portitor ullamcorper
					p algum texto para teste
			article
				span.icon.fa-paper-plane
				div.content
					h3 Portitor ullamcorper
					p algum texto para teste
			article
				span.icon.fa-rocket
				div.content
					h3 Portitor ullamcorper
					p algum texto para teste
			
			article
				span.icon.fa-signal
				div.content
					h3 Portitor ullamcorper
					p algum texto para teste
	section
		header.major
			h2 Ipsum sed dolor

		div.posts
			article
				a(href='#', class='image'): img(src='/img/pic01.jpg', alt='')
				h3 Interdum aenean
				p Algum texto para teste
				ul.actions
					li: a(href='#', class='button') More		
			article
				a(href='#', class='image'): img(src='/img/pic02.jpg', alt='')
				h3 Interdum aenean
				p Algum texto para teste
				ul.actions
					li: a(href='#', class='button') More
			article
				a(href='#', class='image'): img(src='/img/pic03.jpg', alt='')
				h3 Interdum aenean
				p Algum texto para teste
				ul.actions
					li: a(href='#', class='button') More
			article
				a(href='#', class='image'): img(src='/img/pic04.jpg', alt='')
				h3 Interdum aenean
				p Algum texto para teste
				ul.actions
					li: a(href='#', class='button') More		
			article
				a(href='#', class='image'): img(src='/img/pic05.jpg', alt='')
				h3 Interdum aenean
				p Algum texto para teste
				ul.actions
					li: a(href='#', class='button') More
			article
				a(href='#', class='image'): img(src='/img/pic06.jpg', alt='')
				h3 Interdum aenean
				p Algum texto para teste
				ul.actions
					li: a(href='#', class='button') More	