//Competences
section
		header.major
			h2 Erat lacinia
		div.features
			article
				span.icon.fa-diamond
				div.content
					h3 Portitor ullamcorper
					p algum texto para teste
			article
				span.icon.fa-paper-plane
				div.content
					h3 Portitor ullamcorper
					p algum texto para teste
			article
				span.icon.fa-rocket
				div.content
					h3 Portitor ullamcorper
					p algum texto para teste
			
			article
				span.icon.fa-signal
				div.content
					h3 Portitor ullamcorper
					p algum texto para teste