//Last Jobs
section
		header.major
			h2 Ipsum sed dolor

		div.posts
			article
				a(href='#', class='image'): img(src='/img/pic01.jpg', alt='')
				h3 Interdum aenean
				p Algum texto para teste
				ul.actions
					li: a(href='#', class='button') More		
			article
				a(href='#', class='image'): img(src='/img/pic02.jpg', alt='')
				h3 Interdum aenean
				p Algum texto para teste
				ul.actions
					li: a(href='#', class='button') More
			article
				a(href='#', class='image'): img(src='/img/pic03.jpg', alt='')
				h3 Interdum aenean
				p Algum texto para teste
				ul.actions
					li: a(href='#', class='button') More
			article
				a(href='#', class='image'): img(src='/img/pic04.jpg', alt='')
				h3 Interdum aenean
				p Algum texto para teste
				ul.actions
					li: a(href='#', class='button') More		
			article
				a(href='#', class='image'): img(src='/img/pic05.jpg', alt='')
				h3 Interdum aenean
				p Algum texto para teste
				ul.actions
					li: a(href='#', class='button') More
			article
				a(href='#', class='image'): img(src='/img/pic06.jpg', alt='')
				h3 Interdum aenean
				p Algum texto para teste
				ul.actions
					li: a(href='#', class='button') More	