// Siderbar
div#sidebar
	div.inner
		
		include search
		include menu
		include last-posts
		include contact

		footer#footer
			p.copyright &copy; Untitled. All rights 
				a(href='#') narukaioh							